* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.game-page, .home-page {
  width: 100%;
  height: 100%;
  padding-top: 160px;
  background: url("./assets/bg2.jpg");
  background-size: cover;
}

.game-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 5px solid #670D37;
  padding: 5px;
  background: #f0f0f0;
  position: relative;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-result {
  display: flex;
  justify-content: space-between;
}

.game-result .player-name {
  font-weight: bold;
  font-size: 22px;
}

.winner {
  color: green;
}

.loser {
  color: red;
}

.second-user {
  text-align: right;
}

.count-down {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: bold;
  color: #29215A;
}

#main-content {
  display: none;
}

.home-page .game-container {
  max-width: 300px;
  padding: 15px;
}

.home-page button {
  display: block;
  width: 100%;
  margin: 10px 0;
  height: 40px;
  background: #29215A;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.home-page h1 {
  font-size: 36px;
  text-align: center;
  color: #A43F0F;
}

.home-page h2 {
  font-weight: normal;
  font-size: 22px;
}

.home-page button:hover {
  background-color: #2B2561;
  font-weight: bold;
}

.home-page button:disabled {
  opacity: 0.5;
  cursor: default;
}

.home-page .input-group label, .home-page .input-group input {
  display: block;
}

.home-page .input-group input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.image-wrapper {
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%
}

.close-give-away {
  position: absolute !important;
  right: 0 }
  

.room-infor > span {
  vertical-align: middle;
}

.material-symbols-outlined {
  cursor: pointer;
  margin-left: 5px;
}
.home-page button.btn-default {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
